<html>
<head>
  <title>A D3 map</title>
  <script src='https://d3js.org/d3.v4.min.js'></script>
  <script type="text/javascript" src="http://d3js.org/queue.v1.min.js"></script>
</head>
<style>
.path{
	stroke: white;
	stroke-width: 1px;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 150px;                  
  height: 25px;                 
  padding: 2px;             
  font-size: 10px;     
  background: #FFFFE0;
  border: 1px;      
  border-radius: 8px;           
  pointer-events: none;         
}   
</style>
<body>
  <script>
  var colors = ["#ffcb40", "#ffba00", "#ff7d73", "#ff4e40", "#ff1300"]

  var div = d3.select("body").append("div")   
  .attr("class", "tooltip")               
  .style("opacity", 0);

  var geoData = {{ input|safe }}
  var width = 960, 
      height = 1160;

  var projection = d3.geoMercator()
      .scale(50000)
      .translate([width / 2, height / 2]);

  var svg = d3.select("body").append("svg")
      .attr("width", width)
      .attr("height", height);


  //Determine where to center map.
  var center = d3.geoCentroid(geoData);
  projection.center(center);
 
  var path = d3.geoPath().projection(projection);
  
  //Colorizing boroughs
  var boroughCodes = [];
  var tweetVolumes = [];
  d3.csv("/static/data/tweet-volume-borough.csv", function(data) {
	  	//add data from csv files to arrays
		data.map(function(d) {
			boroughCodes.push(d.BoroughName);
			tweetVolumes.push(+d.tweets);
		})
	});

    // and finally draw the actual polygons
    svg.selectAll("path")
      .data(geoData.features)
      .enter()
      .append("path")
      .attr("d", path)
	  .style("fill", function(d) {

			return colors[0];
  })
  //Adding mouseevents
  .on("mouseover", function(d) {
    d3.select(this).transition().duration(300).style("opacity", 1);
    div.transition().duration(300)
    .style("opacity", 1)
    div.text("hello")
    .style("left", (d3.event.pageX) + "px")
    .style("top", (d3.event.pageY -30) + "px");
  })
  .on("mouseout", function() {
    d3.select(this)
    .transition().duration(300)
    .style("opacity", 0.8);
    div.transition().duration(300)
    .style("opacity", 0);
  });
  tweetVolumes = d3.values(tweetVolumes);
  var maximum = d3.max(tweetVolumes);
  console.log(maximum);

  </script>
</body>
</html>
